extends base

block title
	title login | rooftop

block content
	.container.container-prime
		.well
			.form
				h4.text-center login to rooftop
				.form-group
					label(for='login') login
					input#login.form-control(type='email')
				.form-group
					label(for='passwd') password
					input#passwd.form-control(type='password')
				.form-group
					button.btn.btn-default(type='submit') Submit
				a(href='/auth/register') don't have an account?
