extends base

block title
	title register | rooftop

block content
	.container.container-prime
		.well
			.form
				h4.text-center register to rooftop
				.form-group
					label(for='login') desired login
					input#login.form-control(type='email')
				.form-group
					label(for='passwd') password
					input#passwd.form-control(type='password')
				.form-group
					label(for='passwd2') repeat password
					input#passwd2.form-control(type='password')
				.form-group
					button.btn.btn-default(type='submit') Submit
				a(href='/auth/login') but I already have an account!
